<div class="row">
  <div class="col-md-6">
    <%= render 'ultimas_ofertas.html.erb' %>

    <%= render 'ultimas_entidades.html.erb' %>
  </div>
  <div class="col-md-6">
    <%= render 'ultimas_noticias.html.erb'%>

    <%= render 'ultimas_candidatos.html.erb'%>
  </div>
</div>
