<% provide(:title, 'Registo') %>
<div class="center">
  <h1>Novo Registo</h1>
  <%= link_to "Sou uma entidade", new_entidade_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sou um candidato", new_candidato_path, class: "btn btn-lg btn-primary" %>
</div>
