<% if logged_in? && is_candidato? %>
  <p><p>
  <div id="form_candidatura<%=@oferta.id%>">
  <% if candidato_atual.ofertas?(@oferta) %>
    <%= render 'candidatado' %>
  <% else %>
    <%= render 'candidatar' %>
  <% end %>
  </div>
<%end%>
