  <%= simple_form_for(@conta) do |f| %>

    <div class ="password">
      <%= f.input :password, placeholder: 'Password' %>
    </div>
    <div class ="password_confirmation">
      <%= f.input :password_confirmation,label: 'Confirmação de Password', placeholder: 'Password' %>
    </div>
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  <% end %>
