<% provide(:title, @conta.nome) %>
<% provide(:button_text, 'OK') %>
<h1>Alterar Password</h1>
<div class="row">
  <div class="col-md-12">
    <div class ="nome">
      <b>Nome</b><br>
      <%= @conta.nome %>
    </div>
  </div>
  <div class="col-md-12">
    <%= render 'form_password' %>
  </div>
</div>
