<% provide(:title, 'Nova Noticias') %>
<% provide(:button_text, 'Inserir') %>
<h1>Nova Noticia</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
      <%= render 'form' %>
  </div>
</div>
