<h3> <%= link_to conta_atual.nome, candidato_atual %> </h3>
<div class="col-md-12">
<%= link_to "Editar dados", edit_candidato_path(candidato_atual), class: "btn btn-primary" %>
<%= link_to "Alterar password", edit_alterar_password_path(conta_atual), class: "btn btn-primary" %>
</div>
