<div class="row">
<div class="col-md-8">
  <%= render 'candidaturas'%>
</div>
<div class="col-md-4">
  <%= render 'candidato' %>
</div>
<div class="col-md-12">
  <br>
</div>
<div class="col-md-8">
  <%= render 'interessadas' %>
</div>
<div class="col-md-4">
  <br>
</div>
</div>
