<ul>
  <div id="collection_index">
  <%= render @perfils %>
  </div>
</ul>
<div id="collection_paginator">
<%= will_paginate @perfils %>
</div>


<script type="text/javascript">
  $(document).ready( function() {
    $('#collection_paginator a').each( function() {
      $(this).attr( 'data-remote', 'true' )
      $(this).attr( 'data-replace', '#collection_index' )
    })
  })
</script>
