<%= form_for(conta_atual.perfil.interesses_activos.build) do |f| %>
  <div><%= hidden_field_tag :interessado_id, @entidade.perfil.id %></div>
  <%= f.submit "Interessado", class: "btn btn-primary" %>
  <div class="col-md-12">
    <p>
  </div>
<%end%>
