<% provide(:title, 'Editar Entidade') %>
<% provide(:button_text, 'OK') %>
<h1>Editar Entidade</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
    <%=render 'editform'%>
  </div>
</div>
