<% if logged_in? && is_entidade? %>
  <div id="interessado_form<%=@candidato.id%>">
  <% if conta_atual.perfil.interessados?(@candidato.perfil) %>
    <%= render 'desinteressado' %>
  <% else %>
    <%= render 'interessado'%>
  <% end %>
  </div>
<% end %>
