<% provide(:title, 'Editar Candidato') %>
<% provide(:button_text, 'OK') %>
<h1>Editar Candidato</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'editform' %>
  </div>
</div>
