<% provide(:title, 'Registo') %>
<div class="center">
  <h1>Novo Registo</h1>
  <%= link_to "Sou uma entidade", "#", class: "btn btn-lg btn-primary" %>
  <%= link_to "Sou um candidato", "#", class: "btn btn-lg btn-primary" %>
</div>
